#topo {
    background-color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: blue;
}

#link1 {
    align-items: center;

}

#link2 {

    border-image-outset: 1mm;
}